

html {
	height: 100%;
	background: linear-gradient(180deg, rgba(108,31,176,1) 0%, rgba(237,237,237,1) 86%);
	background-size: cover;
	background-repeat: no-repeat;
}

input {
	padding: 10px;
	border: 3px solid black;
	border-radius: 8px;
	background: #a442f4;
}


#input-credit {
	margin-top: 10px;
	margin-left: 16%;
	background: white;
}


.spin:hover, .win-table:hover, .balance:hover  {
	border: 2px solid white ;
}


.reels-container {
	display: flex;
	justify-content: space-between;
	width: 50%;
	height: 300px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 2%;
	padding-top: 200px;
	border: 8px ridge #9a08a3;
	border-radius: 5px;
	background: rgb(155,30,255);
	background: radial-gradient(circle, rgba(155,30,255,1) 0%, rgba(24,9,64,1) 100%);
	transform-style: preserve-3d;
	overflow: hidden;
	
}

.wheel {

	margin: 0 auto;	
  	height: 220px;
  	width: 89%;
  	transform-style: preserve-3d;
}


.slot {
	position: absolute;
	height: 220px;
	width: 89%;
	padding-top: 80px;
	box-sizing: border-box;
	color: rgba(0, 0, 0 ,0.9);
	border-right: solid 2px #000;
    backface-visibility: hidden;
}


.win-balance-spin-container {

	display: flex;
	justify-content: space-between;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1%;
	padding: 2%;
	border: 6px ridge #9a08a3;
	border-radius: 15px;
	background: linear-gradient(180deg, rgba(31,161,176,1) 0%, rgba(65,212,255,1) 58%, rgba(13,238,205,1) 100%);
}


.left-side {
	float: left;
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	font-weight: bold;
}


.right-side {
	float: right;
	margin: 0px;
	padding: 0px;
	font-size: 35px;
	font-weight: bold;
}

.balance {
	width: 25%;
	margin: 0px;
	border: 2px solid black;
	padding: 1%;	
	background: -webkit-linear-gradient(top, #915fcb 0%,#6312ae 50%,#9f48de 100%);
	color: white;
	transition: border 0.5s;

}

.win-table {
	background: -webkit-linear-gradient(top, #915fcb 0%,#6312ae 50%,#9f48de 100%);
	color: white;
	margin: 0px;
	border: 2px solid black;
	padding: 1%;
	width: 25%;
	transition: border 0.5s;
}

.spin {
	background: -webkit-linear-gradient(top, #915fcb 0%,#6312ae 50%,#9f48de 100%);
	text-align: center;
	color: white;
	margin: 0px;
	border: 2px solid black;
	padding: 1%;
	width: 20%;
	font-size: 25px;
	font-weight: bold;
	transition: border 0.5s;
}

.seven {
	background-image: url("../images/7.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;

}
.cherry {
	padding: 33%;
	background-image: url("../images/Cherry.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.bar {
	padding: 33%;
	background-image: url("../images/BAR.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.bar-2 {
	padding: 33%;
	background-image: url("../images/2xBAR.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.bar-3 {
	padding: 33%;
	background-image: url("../images/3xBAR.png");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	
}

.tilted {
  transform: rotateY(45deg);
}

/*Top and Bottom lines will be visible*/
.spin-TB-0     { transform: rotateX(-3755deg); }
.spin-TB-1     { transform: rotateX(-3791deg); }
.spin-TB-2     { transform: rotateX(-3827deg); }
.spin-TB-3     { transform: rotateX(-3863deg); }
.spin-TB-4     { transform: rotateX(-3899deg); }
.spin-TB-5     { transform: rotateX(-3935deg); }
.spin-TB-6     { transform: rotateX(-3971deg); }
.spin-TB-7     { transform: rotateX(-4007deg); }
.spin-TB-8     { transform: rotateX(-4043deg); }
.spin-TB-9     { transform: rotateX(-4079deg); }
/*=====*/


@keyframes spin-TB-0 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3755deg); }
}
@keyframes spin-TB-1 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3791deg); }
}
@keyframes spin-TB-2 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3827deg); }
}
@keyframes spin-TB-3 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3863deg); }
}
@keyframes spin-TB-4 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3899deg); }
}
@keyframes spin-TB-5 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3935deg); }
}
@keyframes spin-TB-6 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3971deg); }
}
@keyframes spin-TB-7 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-4007deg); }
}
@keyframes spin-TB-8 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-4043deg); }
}
@keyframes spin-TB-9 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-4079deg); }
}

/*Center and Other (Bottom and Top) will be visible*/
.spin-CO-0     { transform: rotateX(-3700deg); }
.spin-CO-1     { transform: rotateX(-3736deg); }
.spin-CO-2     { transform: rotateX(-3772deg); }
.spin-CO-3     { transform: rotateX(-3808deg); }
.spin-CO-4     { transform: rotateX(-3844deg); }
.spin-CO-5     { transform: rotateX(-3880deg); }
.spin-CO-6     { transform: rotateX(-3916deg); }
.spin-CO-7     { transform: rotateX(-3952deg); }
.spin-CO-8     { transform: rotateX(-3988deg); }
.spin-CO-9     { transform: rotateX(-4024deg); }
/*=====*/


@keyframes spin-CO-0 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3700deg); }
}
@keyframes spin-CO-1 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3736deg); }
}
@keyframes spin-CO-2 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3772deg); }
}
@keyframes spin-CO-3 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3808deg); }
}
@keyframes spin-CO-4 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3844deg); }
}
@keyframes spin-CO-5 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3880deg); }
}
@keyframes spin-CO-6 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3916deg); }
}
@keyframes spin-CO-7 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3952deg); }
}
@keyframes spin-CO-8 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-3988deg); }
}
@keyframes spin-CO-9 {
    0%    { transform: rotateX(36deg); }
    100%  { transform: rotateX(-4024deg); }
}